@import "tailwindcss";

@theme {
  /* ======================
     COLORS
  ====================== */

  --color-bg: #19191B;
  --color-primary: #5454D4;
  --color-white: #FFFFFF;

  --color-white-opaque: rgba(255, 255, 255, 0.7);
  --color-primary-opaque: rgba(84, 84, 212, 0.1);

  --color-red: #F04037;
  --color-red-opaque: rgba(240, 64, 55, 0.1);

  --color-yellow: #FEDC5A;
  --color-yellow-opaque: rgba(254, 220, 90, 0.1);

  --color-shadow-primary-initial: rgba(84, 84, 212, 1);
  --color-shadow-primary-final: rgba(84, 84, 212, 0.42);

  --color-banner: rgba(30, 30, 32, 0.5);

  /* ======================
     FONTS
  ====================== */

  --font-graphik: Graphik, system-ui, sans-serif;
  --font-nunito: "Nunito Sans", system-ui, sans-serif;

  /* ======================
     GRAPHIK SCALE
  ====================== */

  --text-h1: 5rem;                 /* 80px */
  --leading-h1: 1.05;
  --font-weight-h1: 700;

  --text-h1-sm: 2.625rem;         /* 42px */
  --leading-h1-sm: 1.5;

  --text-h2: 3.75rem;             /* 60px */
  --leading-h2: 1.16;
  --font-weight-h2: 700;

  --text-h2-sm: 2.25rem;          /* 36px */
  --leading-h2-sm: 1.5;

  --text-marca: 1.125rem;    /* 18px */
  --leading-marca: 1.555;

  --text-marca-sm: 1rem;     /* 16px */
  --leading-marca-sm: 2.375;
  --tracking-marca-sm: -0.03125rem; /* -0.5px */

  /* ======================
     NUNITO SCALE
  ====================== */

  --text-p-sm: 1rem;              /* 16px */
  --leading-p-sm: 1.5;

  --text-p: 1.3125rem;            /* 21px */
  --leading-p: 1.8571;
  --tracking-p: -0.04125rem;      /* -0.66px */

  --text-btn: 1.25rem;            /* 20px */
  --text-btn-sm: 1rem;            /* 16px */

  --text-btn-outline: 1rem;       /* 16px */
  --tracking-btn-outline: -0.03125rem; /* -0.5px */

  --text-h3: 1.75rem;             /* 28px */
  --tracking-h3: -0.046875rem;    /* -0.75px */
  --font-weight-h3: 600;

  --text-h3-sm: 1.5rem;           /* 24px */
  --tracking-h3-sm: -0.046875rem; /* -0.75px */

  --text-service: 1.25rem;        /* 20px */
  --leading-service: 1.4;
  --tracking-service: -0.03125rem;

  --text-service-sm: 1rem;        /* 16px */
  --leading-service-sm: 1.75;
  --tracking-service-sm: -0.03125rem;

  --text-link: 1.125rem;          /* 18px */
  --leading-link: 1.75rem;        /* 28px */
  --tracking-link: 0.03125rem;    /* 0.5px */
  --font-weight-link: 700;
  --font-weight-link-sm: 400;

  --breakpoint-xl2: 78.175rem;
  --breakpoint-xl3: 76.700rem;
}

.nav-active {
  @apply text-primary;
}


@layer components { 
   .btn-outline { 
      @apply text-white text-btn-outline tracking-btn-outline inline-block rounded-sm border hover:bg-white hover:text-bg box-border; 
   } 

   .btn-primary { 
      @apply bg-primary text-white text-btn-sm font-bold rounded-sm flex hover:text-primary hover:bg-white hover:border items-center gap-3.5 box-border; 
   } 
}

@layer base {
   @font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular-Trial.otf') format('otf'),
         url('../fonts/Graphik-Regular-Trial.otf') format('otf'),
         url('../fonts/Graphik-Regular-Trial.otf') format('truetype'); 
    font-weight: 400;
    font-style: normal;
   }

   @font-face {
      font-family: 'Graphik';
      src: url('../fonts/Graphik-Bold-Trial.otf') format('otf');
      font-weight: 700;
      font-style: normal;
   }

   @media (prefers-reduced-motion: reduce) {
      * {
         animation-duration: 0.01ms !important;
         animation-iteration-count: 1 !important;
         transition-duration: 0.01ms !important;
         scroll-behavior: auto !important;
      }
   }

   html {
      scroll-behavior: smooth;
   }

   body {
      font-family: 'Nunito Sans', sans-serif;
      background-color: #19191B;
      min-height: 100vh;
   }

   
   .wrapper {
      min-height: 100vh;
      background: rgba(0,0,0,.5);
   }

   #header {
      position: sticky;
      top: 0;
      z-index: 1000;
   }

   .shape-purple {
      width: 100%;
      height: 550.86px;
      position: absolute;
      top: -10%;
      left: -40%;
      z-index: -1;

      border-radius: 999px;

      background: linear-gradient(
         54deg,
         rgba(84, 84, 212, 1) 0%,
         rgba(84, 84, 212, 0.11) 100%
      );

      transform: rotate(35deg);
      filter: blur(224px);

      pointer-events: none;
   }

   .shape-orange {
      width: 90%;
      height: 500.86px;
      position: absolute;
      top: 30%;
      right: -40%;
      z-index: -1;

      border-radius: 9999px;

      background: linear-gradient(
         54.37deg,
         rgba(251, 168, 28, .26),
         rgba(224, 86, 136, .15)
      );

      transform: rotate(-30deg);

      filter: blur(224px);
   }

   .shape-purple-2 {
      width: 50%;
      height: 550.86px;
      position: absolute;
      top: 0;
      left: -70%;
      z-index: -1;

      border-radius: 999px;

      background: linear-gradient(
         54deg,
         rgba(84, 84, 212, 1) 0%,
         rgba(84, 84, 212, 0.11) 100%
      );

      transform: rotate(35deg) translateY(-50%);
      filter: blur(224px);

      pointer-events: none;
   }

   .shape-orange-2 {
      width: 2500px;
      height: 500.86px;
      position: absolute;
      top: 50%;
      right: -50%;
      z-index: -1;

      border-radius: 9999px;

      background: linear-gradient(
         54.37deg,
         rgba(251, 169, 28, 0.06),
         rgba(224, 86, 136, .03)
      );

      transform: rotate(-30deg) translateY(40%);

      filter: blur(224px);
   }

   .shape-purple-3 {
      width: 50%;
      height: 550.86px;
      position: absolute;
      top: 20%;
      right: -40%;
      z-index: -1;

      border-radius: 999px;

      background: linear-gradient(
         54deg,
         rgba(84, 84, 212, 1) 0%,
         rgba(84, 84, 212, 0.11) 100%
      );

      transform: rotate(35deg) translateY(-50%);
      filter: blur(224px);

      pointer-events: none;
   }

}