/* -------------- GLOBAL STYLES -------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* FONT SIZE */
    --text-sm: .9rem;
    --text-md: 1.4rem;
    --text-base: 1.6rem;
    --text-paragraph: 1.8rem;
    --text-h4: 2.4rem;
    --text-h3: 3.2rem;
    --text-h2: 4.0rem;
    --text-h1: 4.8rem;

    /* FONT WEIGHT */
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;

    /* LINE HEIGHTS */
    --line-height-normal: 1.5;

    /* FONT FAMILY */
    --font-family: 'Inter', sans-serif;

    /* COLORS */
    --primary-base: #283D3F;
    --primary-tint: #5BE4FC;

    --grey-tint: #545454;
    --grey-shade: #292929;
    --grey-tint-shadow: #3f3f3f0e;

    --white: #ffffff;
    --black: #000000;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    color: var(--white);
    line-height: var(--line-height-normal);
    background-image: url('fundo-laminado.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    opacity: 1;
    z-index: 0;
    animation: fadeOut .6s ease-out forwards;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 5rem;
    min-height: 100vh;
    height: 100%;
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-tight);
    letter-spacing: -.5px;
    color: var(--grey-tint);
}

h1 {
    font-size: var(--text-h1);
}

h2 { 
    font-size:  var(--text-h2);
}

h3 {
    font-size: var(--text-h3);
}

h4 {
    font-size: var(--text-h4);
}

p {
    font-size: var(--text-paragraph);
}

a {
    line-height: 1;
    text-decoration: none;
    font-size: var(--text-base);
    display: inline-block;
}

a:link, a:visited, a:hover, a:active {
    color: var(--white);
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

.small-text {
    font-size: var(--text-md);
}

/* ------ HEADER ------ */

.header {
    display: grid;
    grid-template-columns: auto repeat(10, 1fr) auto;
    padding: 2.5rem 0;
    align-items: center;
    justify-items: center;
    align-content: start;
    opacity: 0;
    animation: fromTop .6s forwards;
    animation-delay: .6s;
}

/* ------ LOGO ------ */

.header-logo {
    display: flex;
    justify-self: start;
    align-items: baseline;
    gap: .4rem;
}

.academy {
    display: inline-block;
    font-size: var(--text-sm);
    color: var(--white);
    align-self: center;
}

.header-title {
    font-size: var(--text-h2);
    color: var(--white);
    line-height: 1;
}

/* ------ NAVBAR ------ */

.header-nav {
    width: 80%;
    justify-self: center;
    border: 1px solid var(--grey-shade);
    border-radius: 25px;
    background-color: var(--grey-tint-shadow);
    grid-column: 4 / 9;
}

.header-nav-lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.1rem 0;
}

.nav-lista-link {
    font-weight: var(--font-weight-light);
}

.nav-lista-link:hover {
    font-weight: var(--font-weight-normal);
    transform: scale(1.1, 1.1);
    background-color: transparent;
}


/* -------------- HEADER BUTTON -------------- */

.btn-white {
    padding: 1.2rem 2rem;
    background-color: var(--white);
    border-radius: 25px;
    color: var(--black);
    transition: background-color .2s ease;
    grid-column: 12 / 13;
}

.btn-white:link, .btn-white:visited, .btn-white:active {
    padding: 1.2rem 2rem;
    background-color: var(--white);
    border-radius: 25px;
    color: var(--black);
    font-weight: var(--font-weight-semi-bold);
}

.btn-white:hover {
  background-color: #d1d1d1;
}


/* -------------- SECTIONS -------------- */

/* -------------- MAIN -------------- */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------- MAIN HERO SECTION -------------- */

.main-section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.main-section-hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
}

.main-section-hero-title {
    color: var(--white);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-h1);
    opacity: 0;
    animation: fadeIn .8s forwards;
    animation-delay: .75s;
}

.main-section-hero-subtitle {
    font-size: var(--text-base);
    font-weight: var(--font-weight-light);
    opacity: 0;
    animation: fadeIn .6s forwards;
    animation-delay: 1.1s;
}

.main-section-hero-cta-btn {
    color: var(--black);
    background-color: var(--white);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn .6s ease-in forwards;
    animation-delay: 1.5s;
    transition: background-color .2s ease;
}

.main-section-hero-cta-btn:hover {
  background-color: #d1d1d1;
}

.main-section-hero-cta-btn-text:link, .main-section-hero-cta-btn-text:visited, 
.main-section-hero-cta-btn-text:hover, .main-section-hero-cta-btn-text:active {
    padding: 1.2rem 2rem;
    color: var(--black);
}

.main-section-hero-cta-btn-icon {
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
}

/* -------------- CARDS -------------- */

.section-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    opacity: 0;
    animation: fromLeft 1.3s ease-out forwards;
    animation-delay: 2.15s;
    padding-bottom: 4.5rem;
}

.section-cards-item {
    padding: 2rem .5rem;
    border-top: 4px solid var(--grey-tint-shadow);
    color: var(--grey-tint);
    cursor: pointer;
    transition: color .3s, border-color .3s;
}

.section-cards-item input {
  display: none;
}

.section-cards-item input:checked + .icon g {
  fill: var(--primary-tint);
}

.section-cards-item:has(input:checked) {
  border-top-color: var(--primary-base);
  color: var(--white);
}

/* -------------- KEYFRAMES -------------- */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0.7;
    }
}


@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* -------------- MEDIA QUERIES -------------- */

@media (max-width: 93.32rem) {
    .header-nav {
        width: 100%;
    }
}

@media (max-width: 81.25rem) {
    .header-nav {
        width: 100%;
        grid-column: 3 / 10;
    }
}

@media (max-width: 67.5rem) {
    .header-nav {
        width: 100%;
        grid-column: 3 / 11;
    }
}

@media (max-width: 61.25rem) {
    .header {
        grid-template-rows: 6rem 6rem;
    }

    .header-nav {
        width: 100%;
        grid-row: 2 / 3;
        grid-column: 2 / 12;
        transform: translateX(-20%);
        align-self: self-end;
    }
}

@media (max-width: 52.88rem) {
    .header-nav {
        grid-column: 1 / 13;
        transform: none;
    }
}

@media (max-width: 40.5rem) {
    html {
        font-size: 55%;
    }

    .section-cards {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-top: 2.5rem;
    }

    .section-cards {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-top: 2.5rem;
    }

    .section-cards-item br {
        display: none;
    }

}

@media (max-width: 35.1rem) {
    html {
        font-size: 45%;
    }
}

@media (max-width: 28.38rem) {
    html {
        font-size: 40%;
    }

    .icone-logo {
        width: 2rem;
        height: 2rem;
    }

    .main-section-hero-cta-btn-icon {
        width: 3rem;
        height: 3rem;
    }

    .main-section-hero-subtitle {
        font-size: var(--text-paragraph);
    }

    .section-cards-item {
        font-size: var(--text-paragraph);
    }

    .nav-lista-link {
        font-size: var(--text-paragraph);
    }
}

@media (max-width: 25rem) {
    html {
        font-size: 36.5%;
    }
}